<!-- dashboard.component.html -->
<!-- <mat-card class="full-width-card">
  <mat-card-header>
    <mat-card-title>DashBoard</mat-card-title>
  </mat-card-header>
</mat-card> -->

<div class="projects-container">
  <div class="project-card"
    *ngFor="let project of projects"
    [ngClass]="{ 'active': project.id === selectedProjectId }"
  >
    <h4 (click)="redirectToProjectDetails(project.id)" class="project-name">{{ project.name }}</h4>
    <p>Description: {{ project.description }}</p>
    <div class="date-container">
      <p>{{ project.start_date }} - {{ project.end_date }}</p>
    </div>
    <p>Owner: {{ project.owner }}</p>
    <button mat-button (click)="showTasks(project.id)" routerLinkActive="active-link">More</button>
  </div>
</div>
