/* Reset some default styles for ul and li */
ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
  }

  .project-name h4 {
    padding: 10px 0 0 10px;  /* top | right | bottom | left */
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    display: block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .card p {
    margin: 5px 0;
  }
