.grid-container {
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: calc(100vh - 64px); /* Adjust according to the navbar height */
  padding: 10px;
  box-sizing: border-box;
}

.dashboard {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  overflow: auto;
}

.tasks {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: auto;
}

.teammates {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow: auto;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .tasks {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .teammates {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.custom-grid-list {
  height: calc(100vh - 64px); /* Assuming the navbar is 64px high */
}

.tile-1 {
  height: 40%;
}

.tile-2,
.tile-3 {
  height: 50%;
  overflow-y: auto;
}