<mat-toolbar color="primary">
  <span class="title">Tasktracker</span>
  <button mat-button routerLink="/projects" routerLinkActive="active-link" color="white">Projects</button>
  <button mat-button routerLink="/tasks" routerLinkActive="active-link" color="white">Your Tasks</button>
</mat-toolbar>

<div class="content">
  <h1>Projects</h1>
  <ul>
    <li *ngFor="let project of projects">
      <a [routerLink]="['/projects', project.id]">{{ project.name }}</a>
      <button mat-button (click)="showTasks(project.id)">Show Tasks</button>
    </li>
  </ul>
</div>
