.custom-toolbar {
    background-color: #00095B;
    color: white; /* Ensure text is visible */
  }
  .white-text {
    color: white !important;;
}


  .example-spacer {
    flex: 1 1 auto;
  }
  .example-header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f51b5;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }