<mat-toolbar class="custom-toolbar" color="primary">
    <span>Project Tracker</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/projects" routerLinkActive="active-link" color="white">Projects</button>
    <button mat-button routerLink="/tasks" routerLinkActive="active-link" color="white">Your Tasks</button>
    <button mat-icon-button aria-label="Notification icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="User icon">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
